 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
          <link rel="stylesheet"  href="/stylesheets/landing.css">

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-6 col-md-6" >
                
                <div class="thumbnail" id="thumbnail2" >
                 <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/08/02/1639/Park-Hyatt-Sydney-P187-Dining-Opera-House-Day.jpg/Park-Hyatt-Sydney-P187-Dining-Opera-House-Day.16x9.adapt.1280.720.jpg">
    
               
                </div>
                
    </div>
   <div class="col-md-6 col-md-6" >
                 <div align="right" id="thumbnail1">
                  <h3>THE DINING ROOM</h3>
                   </div>
                   <p></p>
                   <div class="caption">
                        <p>The hotel’s signature restaurant The Dining Room features spectacular</p>
                        <p>waterfront views of Sydney Harbour, with a front row view of the Sydney </p>
                        <p>Opera House.</p>
                           <button type="button" class="btn btn-dark"><a href="/dining">View Dining</a></button>

                   </div>
                   </p>
               
  </div>

</div>  

<h3 class="photo">PHOTOS & REVIEWS</h3>

<!-- photos -->
<div class="row1">
  <div class="column1">
    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/07/27/1127/Park-Hyatt-Sydney-P060-Reception.jpg/Park-Hyatt-Sydney-P060-Reception.4x3.adapt.640.480.jpg" style="width:100%">
  </div>
  <div class="column1">
    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/07/27/1127/Park-Hyatt-Sydney-P066-Sydney-Suite-Outdoor-Terrace.jpg/Park-Hyatt-Sydney-P066-Sydney-Suite-Outdoor-Terrace.4x3.adapt.640.480.jpg" style="width:100%">
  </div>
  <div class="column1">
    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/05/15/0929/Park-Hyatt-Sydney-P073-Cove-Suite.jpg/Park-Hyatt-Sydney-P073-Cove-Suite.4x3.adapt.640.480.jpg" style="width:100%">
  </div>
  <div class="column1">
    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/05/15/0929/Park-Hyatt-Sydney-P084-Park-Room.jpg/Park-Hyatt-Sydney-P084-Park-Room.4x3.adapt.640.480.jpg" style="width:100%">
  </div>
  <div class="column1">
    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/05/15/0929/Park-Hyatt-Sydney-P071-The-Bar-Wide-Angle.jpg/Park-Hyatt-Sydney-P071-The-Bar-Wide-Angle.4x3.adapt.640.480.jpg" style="width:100%">
  </div>
</div>

<!-- starts -->

<div class="container">
<div class="photo2">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>

   <h2>Gorgeous 5 Star Experience at</h2>
   <h2>Park Hyatt Sydney</h2>
   
</div>

<div class="photo3 row">
   <h5>“Exquisite hotel with impeccable service and the best location/views in Sydney</h5>
   <h5>Nestled under the Sydney Harbour Bridge and directly across the water from the</h5>
   <h5>Sydney Opera House - the view from our room was priceless.”</h5>
</div>

</div>

<!-- More Images -->

<div class="row2">
  <div class="column1">
    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/05/12/1132/Park-Hyatt-Sydney-P098-Rooftop-Suite-Balcony.jpg/Park-Hyatt-Sydney-P098-Rooftop-Suite-Balcony.4x3.adapt.640.480.jpg" style="width:100%">
  </div>
  <div class="column1">
    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/05/15/0929/Park-Hyatt-Sydney-P042-Breakfast-Table.jpg/Park-Hyatt-Sydney-P042-Breakfast-Table.4x3.adapt.640.480.jpg" style="width:100%">
  </div>
  <div class="column1">
    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/05/15/0929/Park-Hyatt-Sydney-P062-Sydney-Suite-Bathroom.jpg/Park-Hyatt-Sydney-P062-Sydney-Suite-Bathroom.4x3.adapt.640.480.jpg" style="width:100%">
  </div>
  <div class="column1">
    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/05/12/1132/Park-Hyatt-Sydney-P095-The-Gallery-Dinner-Setup.jpg/Park-Hyatt-Sydney-P095-The-Gallery-Dinner-Setup.4x3.adapt.640.480.jpg" style="width:100%">
  </div>
  <div class="column1">
    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/05/15/0929/Park-Hyatt-Sydney-P071-The-Bar-Wide-Angle.jpg/Park-Hyatt-Sydney-P071-The-Bar-Wide-Angle.4x3.adapt.640.480.jpg" style="width:100%">
  </div>
</div>







