<% include partials/header %>

 <div class="container">
    <header class="jumbotron">
        <div class="container">
        <h1>This is Dining Page</h1>
        <p>Enjoy Dining with World Class Luxury</p>
 </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% dining.forEach(function(dinings){ %>
            <div class="col-md-6 col-md-6">
                
                <div class="thumbnail">
                 <img src="<%= dinings.image %>">
                 <div class = "caption">
                       <h4><%= dinings.name %></h4>
                 </div>
                </div>
  
    </div>
  
<%  }); %>
</div>  
</div>

<% include partials/footer %>

